server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:upskill;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2
  sql:
    init:
      encoding: UTF-8

# Swagger UI at /docs
springdoc:
  swagger-ui:
    path: /docs
    tryItOutEnabled: true
  api-docs:
    path: /v3/api-docs
